.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* visibility: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_visible {
  /* visibility: visible; */
}

.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  
}

.popup__new {
  position: relative;
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
}

.popup__close {
  position: absolute;
  top: -76px;
  right: -70px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.popup__close-button {
  width: 32px;
  position: flex;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3)); /* Opcional: añade sombra para mejor visibilidad */
}

.popup__close:hover {
  cursor: pointer;
}

.popup__title {
  max-width: 330px;
  margin-left: 36px;
  margin-top: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin-left: 36px;
}

.popup__input {
  border: none;
  max-width: 358px;
  width: 100%;
  height: 28px;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.popup__line {
  max-width: 358px;
  height: 0%;
  background-color: #ffffff;
  border: 0.5px solid #e0dbdb;
  color: #c4c4c4;
  /* opacity: 0.7px; */
}

.popup__submit-button {
  margin-top: 40px;
  margin-bottom: 36px;
  max-width: 358px;
  height: 50px;
  background: #000000;
  border: 1px solid #c4c4c4;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.popup__submit-button:hover {
  cursor: pointer;
  background-color: #eeeeeeec;
}

.popup__modal {
  position: relative;
  max-width: 75vw; /* Ocupa el 75% del ancho de la pantalla */
  width: auto; /* Ancho flexible */
  margin: 0 auto;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.popup__modal-button {
  top: -40px;
  right: 0;
  z-index: 2;
}

.popup__button-img {
  width: 32px;
}

.popup__modal-content {
  max-width: 100%;
  max-height: 75vh; /* Altura máxima del 75% de la pantalla */
  width: auto; /* Ancho flexible según la imagen */
  height: auto;
  object-fit: contain; /* Mantiene proporciones sin recortar */
}

.popup__modal-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.popup__button_disabled {
  /* opacity: 0.5; */
  cursor: normal;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__error {
  font-size: 14px;
  color: red;
  margin-top: 16px;
  display: none;
}

.popup__error_visible {
  display: block;
}

.popup__submit-yes {
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  .popup__modal {
    max-width: 50vh;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 282px;
  }
  .popup__close {
    position: absolute;
    top: -52px;
    right: -3px;
    border: none;
    background-color: transparent;
  }
  .popup__form {
    margin: 0 auto;
  }
  .popup__input {
    max-width: 238px;
  }

  .popup__submit-button {
    max-width: 238px;
    background: #000000;
  }

  .popup__modal {
    max-width: 27vh;
  }
  .popup__modal-content {
    height: 30vh;
  }
  .popup__modal-button {
    top: -50px;
    right: -10px;
  }
}
