.profile {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.profile__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-size: cover;
}

.profile__avatar-button {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__avatar-edit {
  width: 30px;
  height: 30px;
}

.profile__avatar-container:hover .profile__avatar-button {
  opacity: 1;
}

.profile__info {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.profile__header {
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 100%;
}

.profile__header-title {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__header-button {
  width: 12px;
  height: 22px;
  background: url("./images/Edit Button.png");
  background-size: cover;
  box-sizing: content-box;
  border: none;
  margin-top: 15px;
}

.profile__header-button:hover {
  cursor: pointer;
}

.profile__description {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__button {
  display: flex;
  margin-top: 18px;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
  font-size: 30px; /* Tamaño del "+"*/
  line-height: center; /* Centra verticalmente el "+" */
  text-align: center; /* Centra horizontalmente */
}

.profile__button-add:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__avatar {
    margin: 0 auto;
  }
  .profile__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .profile__info {
    display: flex;
    flex-direction: column;
  }
  .profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__header-title {
    text-align: center;
  }
  .profile__description {
    text-align: center;
  }
  .profile__header-button {
    max-width: 8px;
    height: 18px;
    margin-top: 5px;
  }
  .profile__button {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__avatar-container {
    margin: 0 auto; /* Centrado horizontal */
    display: block; /* Asegura que no haya conflictos con flex */
  }

  .profile__avatar {
    margin: 0 auto;
  }
  .profile__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px; /* Reducir espacio entre avatar e info */
  }
  .profile__info {
    display: flex;
    flex-direction: column;
  }
  .profile__header {
    flex-direction: row; /* Cambia de column a row */
    justify-content: center; /* Centra el título y el botón */
    align-items: center; /* Alinea verticalmente */
    gap: 10px;
  }
  .profile__header-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }
  .profile_explored {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
  .profile__header-button {
    max-width: 8px;
    height: 18px;
    margin-top: 5px;
  }
  .profile__button {
    justify-content: center;
  }
}
