body {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  margin: 0;
  display: flex; /* Usa flexbox para organizar elementos */
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1; /* Empuja el footer hacia abajo */
  margin: 0 auto; /* Centra los hijos dentro del contenedor */
  max-width: 100%; /* Evita que los elementos se desborden */
}

.main {
  flex: 1; /* Usa el espacio restante entre el header y el footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 200px 60px 200px;
  width: 100%; /* Asegura que el main ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

@media screen and (max-width: 768px) {
  .main {
    padding: 45px 20px 60px 20px; /* Ajustar el padding para pantallas más pequeñas */
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%; /* Asegura que ocupe todo el ancho */
    min-height: 100vh; /* Garantiza que ocupe al menos toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido se distribuya bien */
    padding: 0; /* Elimina cualquier padding que pueda generar problemas */
    box-sizing: border-box; /* Asegura un diseño predecible */
  }

  .main {
    flex: 1; /* Permite que la sección principal crezca con el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 10px 36px 10px; /* Ajustar el padding para pantallas muy pequeñas */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    height: auto; /* Permite que el contenedor crezca dinámicamente */
  }

  body {
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura de la pantalla */
  }
}
